.formBody {
    position: relative;
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: whitesmoke;
}

.formHeader {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-color: black;
    border-radius: 1%;
    color: white;
}